asgiref==3.6.0
dj-database-url==1.2.0
dj-email-url==1.0.6
Django==4.0.8
django-cache-url==3.4.4
environs==9.5.0
marshmallow==3.19.0
packaging==23.0
psycopg2-binary==2.9.5
python-dotenv==0.21.1
sqlparse==0.4.3
