{% load static %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">

        <title>Honyaku Assist</title>
    </head>

    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

        <main>

            <!-- Base container -->
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-10 bg-light px-5 pt-4 pb-5">

                        <!-- Navbar -->
                        <nav class="navbar navbar-light mb-5 justify-content-center">
                            <a class="navbar-brand" href="{% url 'index' %}">Honyaku Assist</a>
                            <span class="navbar-text">A machine translation assistant for humans suffering from temporary translator's block</span>
                        </nav>

                        <!-- Input form -->

                        <div class="text-center">

                            <form hx-post="{% url 'index' %}"
                                  hx-target="#results"
                                  hx-swap="innerHTML" >

                                <div class="row">

                                    <!-- Large column for textarea to input text to be translated -->
                                    <div class="form-group col-9">
                                        {{ form.source_text|as_crispy_field }}
                                    </div>

                                    <!-- Small column for buttons -->
                                    <div class="col-3 align-self-center">

                                        <!-- Radio buttons for the translation direction -->
                                        <div class="form-group d-flex justify-content-center">
                                            {{ form.direction|as_crispy_field }}
                                        </div>

                                        <br>

                                        <!-- Submit button -->
                                        <div class="form-group ">
                                            <button type="submit" class="btn btn-primary mb-3">Translate</button>
                                        </div>

                                    </div>

                                </div>

                            </form>

                        </div>

                        <!-- Results -->

                        <div class="mt-3" id="results">

                            <!-- 'results.html' is only included if there are translation results
                                  to be shown -->

                            {% if deepl_result or google_result %}

                                {% include 'results.html' %}

                            {% endif %}

                        </div>

                    </div>
                </div>
            </div>

        </main>

        <!-- Bootstrap and Popper JS -->
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>

        <!-- HTMX -->

        <script src="{% static 'js/htmx.min.js' %}"></script>

    </body>

</html>