{% load static %}

<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">

        <title>Honyaku Assist</title>
    </head>

    <body>
        <main>

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-10 bg-light px-5 pt-4 pb-5">

                        <nav class="navbar navbar-light mb-5 justify-content-center">
                            <a class="navbar-brand" href="{% url 'translate' %}">Honyaku Assist</a>
                            <span class="navbar-text">A machine translation assistant for humans suffering from temporary translator's block</span>
                        </nav>

                        {% block content %}
                        {% endblock %}

                    </div>
                </div>
            </div>

        </main>

        <!-- Bootstrap and Popper JS -->
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>

    </body>

</html>