{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="text-center">

    <form action="{% url 'translate' %}" method="POST">

        {% csrf_token %}

        <div class="row">

            <div class="col-9">
                {{ form.source_text|as_crispy_field }}
            </div>

            <div class="col-3 align-self-center">

                <div class="form-group d-flex justify-content-center">
                    {{ form.direction|as_crispy_field }}
                </div>

                <br>

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary mb-3">Translate</button>
                </div>

                </div>


            </div>

        </div>

    </form>

</div>

{% endblock %}
