{% extends 'base.html' %}
{% load humanize %}

{% block content %}

    <h3 class="text-center mb-3">Results</h3>

    <p class="mb-3">Source text ({{ source_lang|upper }})
        <div class="alert alert-info" role="alert">
            {{ source_text }}
        </div>
    </p>

    <p class="mb-3">
        DeepL result ({{ target_lang|upper }})
        <span class="small text-muted">
            (Usage: {{ deepl_usage|intcomma }} / {{ deepl_limit|intcomma }} characters this month)
        </span>
        <div class="alert alert-success" role="alert">{{ deepl_result }}</div>
    </p>

    <p class="mb-3">
        Google result ({{ target_lang|upper }})
        <span class="small text-muted">
            (Usage: {{ google_usage|intcomma }} / 500,000 characters this month)
        </span>
        <div class="alert alert-success" role="alert">{{ google_result|safe }}</div>
    </p>

    <div class="text-center my-4">
        <a href="{% url 'input' %}" class="btn btn-primary mt-2">New translation</a>
    </div>

{% endblock %}
