{% extends 'base.html' %}
{% load humanize %}

{% block content %}

    <h3 class="text-center mb-3">Results</h3>

    <p class="mb-3">Source text ({{ source_lang|upper }})
        <span class="small text-muted">
            (No. of characters: {{ source_text_length|intcomma }})
        </span>
        <div class="alert alert-warning" role="alert">{{ source_text }}</div>
    </p>

    <p class="mb-3">
        DeepL result ({{ target_lang|upper }})
        {% if deepl_usage != "Error" %}
            <span class="small text-muted">
                (No. of characters: {{ deepl_result_length|intcomma }})
                (Current usage: {{ deepl_usage|intcomma }} / 500,000 characters this month)
            </span>
        {% endif %}
        <div class="alert alert-primary" role="alert">{{ deepl_result }}</div>
    </p>

    <p class="mb-3">
        Google result ({{ target_lang|upper }})
        <span class="small text-muted">
            (No. of characters: {{ google_result_length|intcomma }})
            (Current usage: {{ google_usage|intcomma }} / 500,000 characters this month)
        </span>
        <div class="alert alert-info" role="alert">{{ google_result|safe }}</div>
    </p>

    <div class="text-center my-4">
        <a href="{% url 'home' %}" class="btn btn-primary mt-2">New translation?</a>
    </div>

{% endblock %}
